.svg_AWSLambdaFunction,
.svg_AWSLambdaFunctionGrey {
  width: 64px;
  height: 64px;
}
.svg_AWSLambdaFunctionInvoke,
.svg_AWSLambdaFunctionInvokeGrey,
.svg_AWSLambdaInvokeFunction,
.svg_AWSLambdaInvokeFunctionGrey {
  width: 42px;
  height: 42px;
}
.svg_Alert,
.svg_AlertRedCorner,
.svg_Alias,
.svg_Android_Application,
.svg_Application_Android,
.svg_Application_Angular,
.svg_Application_AngularJS,
.svg_Beans,
.svg_CAST_Forms_DataBlock,
.svg_CAST_Forms_DataBlockItem,
.svg_CAST_Forms_DataBlockItem_Tab,
.svg_CAST_Forms_DataBlock_Relation,
.svg_CAST_Forms_DataBlock_Tab,
.svg_CallToJavaBean,
.svg_CallToJavaProgram,
.svg_CallToProgram,
.svg_Category,
.svg_CategoryExternal,
.svg_Class,
.svg_ClassExternal,
.svg_ClassInstance,
.svg_ClassRed,
.svg_ClassRedCorner,
.svg_Condition,
.svg_Constructor,
.svg_ConstructorExternal,
.svg_ConstructorInstance,
.svg_Cursor,
.svg_CursorBlue,
.svg_CursorHeader,
.svg_CursorRed,
.svg_DataBlock,
.svg_DataBlockItem,
.svg_DataBlockItemRedCorner,
.svg_DataBlockRedCorner,
.svg_DataBlockRelation,
.svg_DataLink,
.svg_DataModel,
.svg_DataModule,
.svg_DataModuleExternal,
.svg_DataObject,
.svg_DataObjectBrown,
.svg_DataObjectGreen,
.svg_DataObjectRedCorner,
.svg_DataQuery,
.svg_DataSet,
.svg_DataSetGrey,
.svg_Database,
.svg_DatabaseConnection,
.svg_DatabaseEvent,
.svg_DatabaseExternal,
.svg_DatabaseLink,
.svg_DatabaseView,
.svg_DatabaseViewColumn,
.svg_DeleteResourceService,
.svg_Destructor,
.svg_DestructorExternal,
.svg_EnumItem,
.svg_EnumItemExternal,
.svg_Enumeration,
.svg_EnumerationExternal,
.svg_EventHandler,
.svg_EventHandlerExternal,
.svg_File_ASA,
.svg_File_ASAX,
.svg_File_ASCX,
.svg_File_ASMX,
.svg_File_ASP,
.svg_File_ASPX,
.svg_File_CICS,
.svg_File_CSHTML,
.svg_File_CSS,
.svg_File_CSharp,
.svg_File_Cpp,
.svg_File_DDL,
.svg_File_DML,
.svg_File_FMB,
.svg_File_Grey,
.svg_File_HTC,
.svg_File_HTML,
.svg_File_Header,
.svg_File_JADE,
.svg_File_JS,
.svg_File_JSP,
.svg_File_JSX,
.svg_File_Java,
.svg_File_Kotlin,
.svg_File_LF,
.svg_File_MMB,
.svg_File_OLB,
.svg_File_ObjC,
.svg_File_PF,
.svg_File_PLL,
.svg_File_PUG,
.svg_File_Plist,
.svg_File_PurpleText,
.svg_File_Python,
.svg_File_SQL,
.svg_File_Script,
.svg_File_StoryBoard,
.svg_File_Swift,
.svg_File_TS,
.svg_File_TSX,
.svg_File_UIXML,
.svg_File_VB,
.svg_File_WSDL,
.svg_File_XIB,
.svg_FolderDarkBlue,
.svg_FolderGrey,
.svg_FolderLightBlue,
.svg_FolderRed,
.svg_Form,
.svg_Fragment_CSS,
.svg_Fragment_HTML,
.svg_Fragment_JS,
.svg_Fragment_TS,
.svg_Fragment_XML,
.svg_FunctionAction,
.svg_FunctionAnnotation,
.svg_FunctionBean,
.svg_FunctionBlue,
.svg_FunctionBlueBracket,
.svg_FunctionBluePrivate,
.svg_FunctionBlueService,
.svg_FunctionConverter,
.svg_FunctionExternal,
.svg_FunctionGreen,
.svg_FunctionGreenClass,
.svg_FunctionGreenSquareBracket,
.svg_FunctionOrange,
.svg_FunctionOrangeBracket,
.svg_FunctionOrangeModel,
.svg_FunctionOrangeProcess,
.svg_FunctionOrangeWatch,
.svg_FunctionPinkBracket,
.svg_FunctionPurple,
.svg_FunctionPurpleHeader,
.svg_FunctionPurpleRedCorner,
.svg_FunctionValidator,
.svg_GetResourceService,
.svg_Instance,
.svg_Interface,
.svg_InterfaceExternal,
.svg_List,
.svg_ListBean,
.svg_ListRedCorner,
.svg_LocalStorage,
.svg_Member,
.svg_Menu,
.svg_MenuItem,
.svg_MenuItemRedCorner,
.svg_MenuRedCorner,
.svg_Module,
.svg_ModuleRedCorner,
.svg_Package,
.svg_PackageGrey,
.svg_PackageOrange,
.svg_PackageOrangeRedCorner,
.svg_PackageRed,
.svg_Port,
.svg_PostResourceService,
.svg_Procedure,
.svg_ProcedureGreen,
.svg_ProcedureGrey,
.svg_ProcedureHeader,
.svg_ProcedurePink,
.svg_ProcedurePrivate,
.svg_ProcedureRedCorner,
.svg_ProcessBlue,
.svg_ProcessExternal,
.svg_ProcessGreen,
.svg_ProcessPurple,
.svg_ProcessRed,
.svg_PropertyGetter,
.svg_PropertyOutlet,
.svg_PropertySetter,
.svg_PutResourceService,
.svg_Queue,
.svg_Receive,
.svg_ResourceServiceDelete,
.svg_ResourceServiceGet,
.svg_ResourceServicePost,
.svg_ResourceServicePut,
.svg_RouteFrom,
.svg_RouteTo,
.svg_SQLNamedQuery,
.svg_Schema,
.svg_ServiceBlue,
.svg_ServiceBrown,
.svg_ServiceGreen,
.svg_ServiceOrange,
.svg_ServicePurple,
.svg_ServiceRed,
.svg_SetterExternal,
.svg_ShapePyramid,
.svg_ShapeRectangle,
.svg_ShapeSphere,
.svg_Shapes,
.svg_Sort,
.svg_Synonym,
.svg_TabMethod,
.svg_Table,
.svg_TableModel,
.svg_Trigger,
.svg_TriggerRedCorner,
.svg_UIButton,
.svg_UITextField,
.svg_UITextFieldRedCorner,
.svg_UITextFields,
.svg_UITextFieldsRedCorner,
.svg_UIView,
.svg_UIViewExternal,
.svg_UIViewRedCorner,
.svg_UI_XML_File,
.svg_UnknownDatabaseConnection,
.svg_UnknownSchema,
.svg_UnresolvedTable,
.svg_Variable,
.svg_VariableExternal,
.svg_VariableHeader,
.svg_VariableLink,
.svg_VariablePropertyBlue,
.svg_VariablePropertyExternal,
.svg_VariablePropertyGreen,
.svg_VariablePropertyPink,
.svg_View,
.svg_VirtualConstructor,
.svg_WebService,
.svg_iOS_Project,
.svg_iOS_Workspace {
  width: 32px;
  height: 32px;
}
.svg_Annotation,
.svg_Application_CSharp,
.svg_Application_Cobol,
.svg_Application_CobolCICS,
.svg_Application_CobolJCL,
.svg_Application_DotNet,
.svg_Application_Java,
.svg_Application_PHP,
.svg_Application_REACT,
.svg_Application_SAP,
.svg_Application_Shell,
.svg_Application_VB,
.svg_Application_VUEJS,
.svg_Application_Web,
.svg_Application_iOS,
.svg_Book,
.svg_Canvas,
.svg_CanvasRedCorner,
.svg_ConstrainPrimary,
.svg_ConstraintBasic,
.svg_ConstraintPrimary,
.svg_Division,
.svg_File_BO,
.svg_File_Data,
.svg_ForeignKey,
.svg_Frame,
.svg_FrameRedCorner,
.svg_Index,
.svg_IndexExternal,
.svg_Lambda,
.svg_Macro,
.svg_Namespace,
.svg_Paragraph,
.svg_Program,
.svg_Project_Cpp,
.svg_Project_Java,
.svg_QueueCall,
.svg_QueueCallGrey,
.svg_QueueReceive,
.svg_QueueReceiveGrey,
.svg_Rectangle,
.svg_Region,
.svg_RegionGrey,
.svg_ReportGrey,
.svg_ReportRed,
.svg_Section,
.svg_Shell_Application,
.svg_SubProgram,
.svg_SubProject_Java,
.svg_TemplateArc,
.svg_TemplateBody,
.svg_TemplateChart,
.svg_TemplateColumn,
.svg_TemplateEllipse,
.svg_TemplateFrame,
.svg_TemplateFreehand,
.svg_TemplateHeader,
.svg_TemplateImage,
.svg_TemplateLayout,
.svg_TemplateLine,
.svg_TemplateMargin,
.svg_TemplatePolygon,
.svg_TemplatePolyline,
.svg_TemplateRepeatingRectangle,
.svg_TemplateRoundedRectangle,
.svg_TemplateText,
.svg_TemplateTrailer,
.svg_TemplateUnknown,
.svg_UnionBlue,
.svg_UnionOrange,
.svg_UnionPink,
.svg_UniqueKey {
  width: 16px;
  height: 16px;
}
.svg_Application_LoopBack,
.svg_Application_NodeJS {
  width: 190px;
  height: 190px;
}
.svg_Application_SAPUI5,
.svg_CallToSignalRBlue,
.svg_CallToSignalRGrey,
.svg_SignalRBlue,
.svg_SignalRGrey,
.svg_TableColumn,
.svg_ViewColumn {
  width: 100%;
  height: 100%;
}
.svg_AzureFunction,
.svg_AzureFunctionGrey,
.svg_AzureFunctionInvoke,
.svg_AzureFunctionInvokeGrey {
  width: 92px;
  height: 92px;
}
.svg_S3Bucket,
.svg_S3BucketGrey {
  width: 54px;
  height: 54px;
}
.svg_SQL {
  width: 28px;
  height: 28px;
}
